.dayButton {
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  outline: none;
  font-size: 16px;
  transition: all 0.1s ease;
  &:hover {
    border: 1px solid #15aabf;
    background-color: #fff;
  }
}

.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
  padding-left: 0px !important;
}
.ant-tabs-nav-list {
  height: 100%;
  padding: 10px 0;
}
.ant-tabs-tab.ant-tabs-tab-active {
  z-index: 3;

  border-right: 3px solid #15aabf !important;
}
.ant-tabs-tab {
  // height: 100%;
}
.ant-tabs-content .ant-tabs-content-left {
  padding-left: 0 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #15aabf;
}
.tabMain {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .tabItem {
    display: flex;
    height: 100%;
    scrollbar-color: #15aabf;
  }
}
